{
    "name": "{{ project_name }}",
	"dockerComposeFile": "docker-compose.yml",
    "service": "app"

    "workspaceFolder": "/home/jovyan/work",

    "runArgs": [
        "--memory=1.8g",
        "--cpu-shares=300"
    ],

    "customizations": {

        "vscode": {
            "settings": {
            
            {%- if use_vscode_ext -%}

                {%- if 'Python' in dev_language %}
                "python.defaultInterpreterPath": "/opt/conda/bin/python",
                {%- endif %}

                {%- if 'R' in dev_language %}
                "r.rterm.linux": "/opt/conda/bin/radian",
                "r.bracketedPaste": true,
                "r.plot.useHttpgd": true
                {%- endif %}

            {%- endif %}
            },
            "extensions": [

            {%- if use_vscode_ext -%}

                {%- if 'Python' in dev_language %}
                "ms-python.python",
                "ms-toolsai.jupyter",
                "ms-toolsai.jupyter-keymap",
                {%- endif %}

                {%- if use_quarto %}
                "quarto.quarto",
                {%- endif %}

                {%- if 'R' in dev_language %}
                "reditorsupport.r",
                "RDebugger.r-debugger",
                {%- endif %}

            {%- endif %}
                "analytic-signal.preview-pdf"
            ]
        }

    },

	// Uncomment the next line if you want to keep your containers running after VS Code shuts down.
	"shutdownAction": "none"
}
